numpy
tqdm
# ipython
# requests

### Data
polars # similar to pandas but simpler to use

### Visualization
# hvplot # backend for plot with pola.rs
# bokeh
# matplotlib
# pyarrow # need for ploting ?
# plotly # frontend for ploting
# jupyter
